.checkout-container {
    margin-top: 20px;
    text-align: center;
}

.checkout-container button {
    background-color: #3399cc;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-container button:disabled {
    background-color: gray;
    cursor: not-allowed;
}