.header {
    height: 35vw;
    border-radius: 25px;
    margin: 0px auto;
    background: url('/head3.png') no-repeat center center;
    background-size: cover;
    position: relative;
    animation: fadeIn 3s;
    background-color: transparent;
    bottom: 5px;
}

.header-contents .text {
    color: gray;
    animation: fadeIn 3s;
}
.header-contents .text::first-letter{
    color:goldenrod;
}

.header-contents .para {
    color: rgba(60, 214, 71, 0.678);
    font-size: 14px;
    animation: fadeIn 3s;
    line-height: 1.3;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 35%;
    bottom: 20%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    font-size: clamp(22px, 4.5vw, 55px); /* More responsive */
}

.header-contents p {
    color: white;
    font-size: clamp(10px, 1vw, 18px); 
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

@media (min-width: 1600px) {
    .header {
        height: 28vw; 
    }
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 55%;
        bottom: 18%;
    }

    .header {
        height: 45vw;
    }
}

@media (max-width: 850px) {
    .header-contents {
        max-width: 70%;
        left: 5vw;
    }

    .header {
        height: 50vw;
    }
}

@media (max-width: 600px) {
    .header {
        height: 65vw;
        border-radius: 18px;
    }

    .header-contents {
        max-width: 90%;
        bottom: 15%;
        left: 4vw;
        gap: 3vw; 
    }

    .header-contents h2 {
        font-size: clamp(20px, 6vw, 32px);
    }

    .header-contents p {
        font-size: 12px;
        display: block; 
    }

    .header-contents button {
        padding: 2.5vw 5vw;
        font-size: 14px;
    }
}

@media (max-width: 380px) {
    .header {
        height: 80vw;
    }

    .header-contents {
        bottom: 12%;
        max-width: 95%;
        left: 3vw;
    }

    .header-contents h2 {
        font-size: 18px;
    }

    .header-contents p {
        font-size: 11px;
    }

    .header-contents button {
        padding: 3vw 6vw;
        font-size: 13px;
    }
}
